apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  # https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
  valuesContent: |-
    providers:
      kubernetesCRD:
        # Allows IngressRoute to reference resources in namespace other than theirs
        allowCrossNamespace: true
    # Create an IngressRoute for the dashboard
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.homelab.rivetcode.com`)
        entryPoints: ["web", "websecure"]
        middlewares:
          - name: authentik-service-middleware
            namespace: authentik
        tls:
          secretName: traefik-certificate-secret
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        tls:
          enabled: true
      postgres:
        port: 5432
        expose:
          default: true
        exposedPort: 5432
        protocol: TCP
      mqtt:
        port: 1883
        expose:
          default: true
        exposedPort: 1883
        protocol: TCP
      amqp:
        port: 5672
        expose:
          default: true
        exposedPort: 5672
        protocol: TCP
    entryPoints:
      mqtt:
        address: ":1883" # MQTT plaintext
      amqp:
        address: ":5672" # AMQP messaging
      postgres:
        address: ":5432" # Postgres database
    logs:
      access:
        enabled: true
