# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: config-trivy-defectdojo
#   namespace: kube-system
# spec:
#   interval: 10m
#   dependsOn:
#   - name: trivy-defectdojo
#   path: ./configs/
#   prune: true # remove any elements later removed from the above path
#   timeout: 2m
#   sourceRef:
#     kind: GitRepository
#     name: trivy-defectdojo-configs
#   retryInterval: 1m
