apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rabbitmq
  namespace: rabbitmq
spec:
  interval: 5m
  path: ./clusters/home/apps/rabbitmq/rabbitmq/base/
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
