apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: frigate
  namespace: frigate
spec:
  interval: 5m
  prune: true
  wait: true
  dependsOn:
    - name: frigate-dependencies
      namespace: frigate
  path: ./release/
  sourceRef:
    kind: GitRepository
    name: flux-system
