apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: prometheus
spec:
  interval: 5m
  chart:
    spec:
      chart: prometheus
      # https://prometheus-community.github.io/helm-charts/index.yaml
      # https://artifacthub.io/packages/helm/prometheus-community/prometheus
      version: '27.45.0'
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: flux-system
      interval: 5m
  # https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml
  values:
    server:
      service:
        type: ClusterIP
      # Prometheus' data retention size. Supported units: B, KB, MB, GB, TB, PB, EB.
      # keep this under the persistent volume size
      retentionSize: "7GB"
      # Prometheus data retention period (default if not specified is 15 days)
      retention: "15d"
      persistentVolume:
        size: 10Gi
