apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: headlamp-cert
  namespace: headlamp
spec:
  secretName: headlamp-certificate-secret
  dnsNames:
    - "headlamp.homelab.rivetcode.com"
  issuerRef:
    name: cloudflare-clusterissuer
    kind: ClusterIssuer
