apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  namespace: rabbitmq
  labels:
    app.kubernetes.io/name: rabbitmq
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: rabbitmq
  template:
    metadata:
      labels:
        app.kubernetes.io/name: rabbitmq
    spec:
      serviceAccountName: rabbitmq
      automountServiceAccountToken: true
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
        - name: rabbitmq
          image: "rabbitmq:4-management"
          imagePullPolicy: Always
          command: ["/bin/bash", "-c"]
          args:
            - |
              rabbitmq-plugins enable --offline rabbitmq_mqtt;
              rabbitmqctl add_user rabbitmq rabbitmq || echo "user exists"
              rabbitmqctl set_permissions -p / rabbitmq ".*" ".*" ".*"
              rabbitmq-server
          ports:
            - name: http
              containerPort: 15672 # Dashboard management UI
              protocol: TCP
            - name: amqp
              containerPort: 5672 # AMQP messaging
              protocol: TCP
            - name: mqtt
              containerPort: 1883 # MQTT listener
              protocol: TCP
          env:
            - name: RABBITMQ_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: username
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: password
